body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/*?=================HEADER==================== */
/*!HEADER SECTION */
.header-section {
  /* padding: 24px 15px; */
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.nav-logo-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.nav-studio-link {
  color: #2e2f42;
}

.header-navigation-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  color: #2e2f42;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  margin-top: 20px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

/* .navigation-link:active::after,
.novigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  margin-top: 20px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
} */

.address-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:active,
.novigation-item:focus {
  color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
  /* justify-content: flex-end; */
}

.address-link {
  display: block;
  padding: 24px 0;
  color: currentColor;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*? ================MAIN================= */
/*!MAIN-SECTION*/

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/bg-hero-image.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  width: 100%;
  object-fit: cover;
}

/* .thumb {
  width: 100%;
  object-fit: cover;
} */

.hero-title {
  color: #ffffff;
  font-family: inherit;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;

  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*!SECTION 2 - hidden title*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.purpose-section {
  padding: 120px 0;
}

.our-purpose-list {
  display: flex;
  gap: 24px;
}

.our-purpose-list .purpose-item {
  font-family: inherit;
  color: currentColor;
  width: calc((100% - 72px) / 4);
  align-self: auto;
}

.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  /* padding: 24px 100px; */
}

.icon {
  fill: currentColor;
}

.purpose-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.purpose-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*!=== SECTION 3 - OUR TEAM ===*/
.oteam {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.oteam-main-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  text-align: center;
  margin-bottom: 72px;
}

.oteam-list {
  display: flex;
  gap: 24px;
}

.oteam-item {
  background-color: #ffffff;

  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.oteam-item:last-child {
  margin-bottom: 0;
}

.oteam-description {
  padding: 32px 0;
  text-align: center;
}

.our-team-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team-text {
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.icons-list-oteam {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  /* margin: 0 auto; */
}

.icon-item-oteam {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-link-oteam {
  fill: #f4f4fd;
}

/*!=== SECTION 4 ===*/
.oportfolio-section {
  padding: 120px 0;
}

.oportfolio-main-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.oportfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.oportfolio-item {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.oportfolio-item:hover,
.oportfolio-item:focus {
  box-shadow: 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.oportfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  padding: 40px 32px;

  color: #f4f4fd;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.oportfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.oportfolio-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.oportfolio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.oportfolio-main-text {
  color: currentColor;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*!=== FOOTER SECTOIN ===*/

.foot-section {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.foot-logo-wrapper {
  max-width: 264px;
  margin-right: 120px;
}

.foot-logo-link {
  display: inline-block;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.logo-lightcolor {
  color: #f4f4fd;
}

.foot-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
}

.foot-social-wrapper {
  display: flex;
  flex-direction: column;
}

.foot-social-title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* автоперевірка не пропускає без цього марджина */
  margin-bottom: 16px;
}

.foot-social-list {
  display: flex;
  gap: 16px;
}

.foot-social-item {
  width: 40px;
  height: 40px;
}

.foot-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-icon-link:hover,
.foot-icon-link:focus {
  background-color: #31d0aa;
}

/* .foot-soc-icons {
  padding: 8px;
  margin-bottom: 0;
}

.foot-social-link .icon-link {
  display: block;
} */

.soc-icon {
  fill: #f4f4fd;
}

/*?====FOOTER FORM==== */

.footer-form {
  margin-left: 80px;
}

.foot-label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.foot-form {
  display: flex;
  gap: 24px;
}

.foot-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  outline: transparent;
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.foot-form-input::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.foot-btn-form {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 8px 24px; */
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.foot-icon-form {
  margin-left: 16px;
  fill: #ffffff;
  background-color: #4d5ae5;
}

/*!====BACKDROP==== */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  border: 1px solid #000000;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px;
}

/* .modal-field {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;

  position: absolute;
  top: 24px;
  right: 24px;
  margin-right: 0;
} */

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  fill: #2e2f42;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-btn-icon,
.modal-close-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/* .modal-input:focus {
  border-color: #4D5AE5;
}

.modal-input:focus + .modal-input-icon {
  fill:#4D5AE5;
} */

.modal-field-input {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.field-icon {
  position: relative;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  line-height: 1.5;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  /* padding-left: 16px; */
  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-icon:focus-within .modal-input {
  border-color: #4d5ae5;
}

.field-icon:focus-within .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;

  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus-within {
  border-color: #4d5ae5;
}

/* CHECKBOX */
.modal-checkbox {
  margin-bottom: 24px;
}

.modal-label-text {
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: #f4f4fd;
  margin-right: 12px;

  transition-property: background-color, border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-check:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn-form {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;

  margin: 0 auto;

  transition-property: background-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
}
